*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: aqua;
}
.logo{
    color: #000;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #000;
    text-decoration: none;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: #000;
    margin: 5px;
}
@media screen and (max-width:768px) {
    .nav-links{
        position: absolute;
        right: 0;
    }
}